body {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; LINE-height: 15px; padding-top: 0px
}
div#map-container {
	width: 100%; height: 100%
}
#legend {
	font-size: 10px
}
#blip_person {
	background: url(data/person.gif) no-repeat; width: 10px; height: 10px
}
#map-nav {
	
}
#map-nav img{
	border-right: 0px; border-top: 0px; border-left: 0px; border-bottom: 0px
}
#map-nav-up {
	left: 50px; width: 30px; position: absolute; top: 5px; height: 30px
}
#map-nav-down {
	left: 50px; width: 30px; position: absolute; top: 65px; height: 30px
}
#map-nav-left {
	left: 10px; width: 30px; position: absolute; top: 35px; height: 30px
}
#map-nav-right {
	left: 90px; width: 30px; position: absolute; top: 35px; height: 30px
}
#map-nav-center {
	left: 50px; width: 30px; position: absolute; top: 35px; height: 30px
}
#map-zoom-plus {
	left: 50px; width: 30px; position: absolute; top: 125px; height: 30px
}
#map-zoom-minus {
	left: 50px; width: 30px; position: absolute; top: 160px; height: 30px
}
