[submodule "lib/bash-helpers"]
	path = lib/bash-helpers
	url = https://git.magiiic.com/magicoli/bash-helpers.git
[submodule "lib/OMEconomy-Modules"]
	path = lib/OMEconomy-Modules
	url = https://github.com/OpenMetaverseEconomy/OMEconomy-Modules.git
[submodule "lib/flexible_helper_scripts"]
	path = lib/flexible_helper_scripts
	url = https://git.magiiic.com/opensimulator/flexible_helper_scripts.git
