#*#
*~
\#*#
.#*
._*
/cache/*
*.cache
logs/*
*.log
var/*
src/*
etc/*
dev/*
/lib/opensim/
/lib/opensim*/
/core/*
tmp/
/opensim*/
backups/
.listing
*/config.php
*/upload.php
*/databaseinfo.php
sources
lib/check_inventory.php
venv/
config/
*.cfg
vendor/
.env
**/.env
!.env*.example
/build/
/dist/
.DS_Store
.bashunit/**
.zed/
!**/.keep
