/*******************************************************************************************************************/
#menu {
	float:left;
	width:100%;
	background:#EFEFEF;
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid #666;
	}
#menu ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	}
#menu li {
	display:inline;
	margin:0;
	padding:0;
	}
#menu a {
	float:left;
	background:url("images/tableftF.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}
#menu a span {
	float:left;
	display:block;
	background:url("images/tabrightF.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#666;
	}
	
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menu a span {float:none;}
/* End IE5-Mac hack */
#menu a:hover span {color:#FFFFFF;}
#menu a:hover {background-position:0% -42px;}
#menu a:hover span {background-position:100% -42px;}

/******************************************************************************/
/********************* SECTION TEXTE ****************************************/
/******************************************************************************/

/* Général */
body {
	color: #000000;
	background: #EFEFEF;
}
a {
	/*background:url("images/16-C.gif") no-repeat right top;*/
	color: #373279;
}
a:hover, a:focus {
	color: #046380;
}
strong {
	color: #000000;
}
/* Page */
#global {
	background: #EFEFEF;
}
/* Navigation */
#navigation {
	background: #000000;
}
#navigation a {
	color: #000000;
}
#navigation a:hover, #navigation a:focus {
	background: #000000;
}
/* Contenu principal */
#contenu {
	color: #000000;
	background: #FFFFFF;
}
#contenu a {
	color: #000000;
}
#contenu a:hover, #contenu a:focus {
	color: #000000;
}
#contenu strong {
	color: #000000;
}

/* Pied de page */
#pied {
	color: #000000;
}
/******************************************************************************/
/********************* SECTION BOUTONS ****************************************/
/******************************************************************************/
#pale-blue button
{
    background: #e7eef5;
    border: 1px solid #becfe3;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    color: #2a65a6;
    font-family: "lucida grande", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    padding: 5px 0 6px 0;
    text-align: center;
    width: 300px;
}

#pale-blue button:hover
{
    color: #6f8cc0;
}
#clean-gray button
{
    background: #bfbfbf;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#bbb));
    background: -moz-linear-gradient(0% 100% 90deg,#bbb, #e5e5e5);
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: inset 0px 1px 3px #f5f5f5;
    -webkit-box-shadow: inset 0px 1px 3px #f5f5f5;
    color: #333;
    font-family: "lucida grande", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0px #eee;
    width: 100%;
}

#fat-blue button:hover
{
    -moz-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111;
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111;
}

#fat-blue button
{
    background: #4162a8;
    border: 1px solid #19253f;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111;
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111;
    color: #fff;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
    padding: 10px 0 12px 0;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
    width: 500px;
}

#fat-blue button:active
{
    background: #395591;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111;
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111;
    margin-top: 58px;
}
a.button {
     background: transparent url('images/bg_button_a.gif') no-repeat scroll top right;
     color: #444;
     display: block;
     float: left;
     font: normal 12px arial, sans-serif;
     height: 24px;
     margin-right: 6px;
     padding-right: 18px; /* sliding doors padding */
     text-decoration: none;
 }

 a.button span {
     background: transparent url('images/bg_button_span.gif') no-repeat;
     display: block;
     line-height: 14px;
     padding: 5px 0 5px 18px;
 } 