# The search service of OpenSimulator, to add to the server block of your site.
# Adjust the socket of PHP-FPM to your version.
location /search/ {
    alias /usr/share/opensim-manfredaabye-helpers/;
    index query.php;

    # Not for the web (first: the first matching pattern wins)
    location ~ ^/search/(sql|wiredux)/ {
        deny all;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_param SCRIPT_FILENAME $request_filename;
        fastcgi_pass unix:/run/php/php-fpm.sock;
    }
}
